:root {
    --blue: rgb(0, 150, 255);
    --bs-primary: #68DFEB;
    --bs-primary-rgb: 0, 150, 255;
    --bs-primary-dark: #16537e;
    --bs-primary-dark-rgb: 136, 24, 35;
}

.btn-primary {
    background-color: rgb(179, 224, 255);
    color: black;
    transition-property: all;
    transition-duration: 0.3s;
}

    .btn-primary:hover {
        background-color: var(--bs-primary);
        color: white;
    }

.navbar {
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-padding-x: 0.1rem;
    --bs-navbar-padding-y: 0;
    --bs-navbar-brand-color: white;
    --bs-navbar-brand-hover-color: white;
}


.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 1rem;
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: white;

}

.navbar-nav {
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: white;
}

/* .btn-primary {
    background-color: var(--temple-red) !important;
    border-color: var(--temple-red) !important;
} */

/* .btn-primary:hover {
    background-color: var(--temple-red-dark) !important;
    border-color: var(--temple-red-dark) !important;
} */